html body{
    height: 100%;
    /* width: 100vw; */
}

body {
    
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}
.main-title{
    font-size: 24px;
    color: #385555;
}
.list{
    /* background-color: yellow; */
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    list-style-type: none;
    /* margin: 50px; */
    /* padding: 100px; */
}
.list-item{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow:  0 2px 8px rgba(0, 0, 0, 0.3);
    background-image: url(/imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item__images img{
    border-radius: 50%;
    margin-top: 100px;
}
.list-item__name{
    font-size: 24px;
    margin: 0;
    color: #385555;
}
.list-item__email{
    margin: 5px;
}
.list-item__action{
    display: flex;
    padding: 16px;
    background-color: beige;
    justify-content: space-evenly;
}




